.editor,
.editor-container,
.editor-content {
  margin: 2rem;
}

.editor-title {
  width: 50%;
  font-size: 2rem;
  outline: none;
  box-shadow: none;
}

.editor-title:hover {
  outline: none;
  box-shadow: none;
}

.w-md-editor-toolbar {
  height: 3rem !important;
}

.w-md-editor-toolbar li button svg {
  height: 1rem;
  width: 1rem;
}

.w-md-editor-text {
  font-size: 1.25rem;
}

.btn-add {
  font-size: 1.25rem;
}
