.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  box-shadow: 1px 1px 10px var(--secondary-color);
  padding: 1rem;
}

.sidebar-menu > a {
  display: block;
}

.btn-create {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
}

.sidebar-account {
  display: flex;
  /* width: 50%; */
  justify-content: space-between;
}

.active {
  border: none;
}
