.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.homepage-left {
  display: grid;
  flex-grow: 1;
}

.homepage-left-text {
  margin: 2rem;
  width: 75%;
}

h1 {
  color: rgba(252, 127, 25, 0.631);
}

.homepage-subtitle,
.homepage-text {
  margin: 2rem;
  font-size: 2rem;
}

.homepage-left-action {
  justify-self: center;
}

.btn-homepage {
  padding: 1rem 4rem 1rem 4rem;
  font-size: 1.5rem;
}

.cta-text {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.homepage-right {
  display: grid;
  flex-grow: 1;
  place-items: center;
}
